    body {
        font-family: 'Pushster', cursive;
        font-family: 'Roboto Slab', serif;
        font-family: 'Vujahday Script', cursive;
        margin: 0;
    }
    
    .headline {
        font-size: 50px;
        text-align: center;
        color: yellow;
        border-radius: 5px;
        border-bottom: 2px solid green;
        border-top: 2px solid red;
        border-left: 2px solid blue;
        border-right: 2px solid purple;
        background-image: linear-gradient(red, blue);
        margin-top: 0;
    }
    
    .style-flex {
        display: flex;
        text-align: center;
    }
    
    .half-width {
        width: 25%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        box-shadow: 10px -20px 5px rgb(212, 22, 22);
    }
    
    .half-width img {
        width: 100%;
    }
    
    .first-one {
        border-left: 10px solid;
        border-image: linear-gradient(red, skyblue);
        border-image-slice: 1;
    }
    
    .second-one {
        border-left: 10px solid;
        border-image: linear-gradient(green, yellow);
        border-image-slice: 1;
    }
    
    .third-one {
        border-left: 10px solid;
        border-image: linear-gradient(blue, red);
        border-image-slice: 1;
    }
    
    .button1 {
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 45%;
        border: 2px solid black;
        background-image: linear-gradient(rgba(76, 0, 255, 0.877), rgb(255, 0, 221));
        border-radius: 5px;
        color: yellow;
    }